@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    background-color: aliceblue;
    position: relative;
    font-family: "Poppins", sans-serif;
}
